
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Graduate', serif;
  font-weight: 400;
  color: white;
  background: url('techno.jpeg') no-repeat center center/cover;
  height: 100vh;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
  padding: 10px;
  height: 100vh; 
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.05);
  text-align: center;
  padding: 40px;
  font-size: 30px;
  outline: 1px solid gold;
}


.item0 {
  grid-column: 1 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.title {
  color: gold;
  font-size: 36px;
}


.menu-toggle {
  display: none; 
  font-size: 30px;
  color: gold;
  cursor: pointer;
  z-index: 1001;
}


nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: gold;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

nav a:hover {
  text-decoration: underline;
}


.item2 {
  grid-column: 1 / 3; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gold;
  background-color: rgba(255, 255, 255, 0.08);
}


.profile img {
  width: 320px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}


.item3 {
  grid-column: 3 / 5; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gold;
  background-color: rgba(255, 255, 255, 0.08);
}


.intro {
  margin-left: 40px;
  text-align: left;
}

.intro h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 130%;
}

.intro p {
  font-size: 32px;
  margin-top: 30px;
  font-weight: 400;
}

.intro span {
  font-size: 16px;
  display: block;
  margin-top: 30px;
  font-weight: 400;
}




@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .item2 {
    grid-column: 1 / 2;
  }

  .item3 {
    grid-column: 2 / 3;
  }

  .intro h1 {
    font-size: 45px;
  }

  .intro p {
    font-size: 26px;
  }

  
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 30px;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    gap: 15px;
    min-width: 180px;
  }

  nav.active {
    display: flex;
  }
}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .item0, .item2, .item3 {
    grid-column: 1 / 2;
  }

  .item2, .item3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .intro {
    margin-left: 0;
    text-align: center;
  }

  .intro h1 {
    font-size: 40px;
  }

  .intro p {
    font-size: 22px;
  }

  .profile img {
    width: 260px;
    height: 260px;
  }
}


@media (max-width: 480px) {
  .intro h1 {
    font-size: 32px;
  }

  .intro p {
    font-size: 18px;
  }

  .profile img {
    width: 220px;
    height: 220px;
  }
}